{% extends 'base.html' %}
{% load static %}

{% block title %}
Champion's Realm
{% endblock %}

{% block content %}
<div class="container-preview">
  <div class="text-preview">
    <h1>
      СОВЕРШЕНСТВУЙ <span>КИБЕРСПОРТ</span><br />
      С НАМИ!
    </h1>
    <p>
      <span>УЧАВСТВУЙ</span> И <span>СЛЕДИ</span> ЗА САМЫМИ<br />
      НОВЫМИ ТУРНИРАМИ
    </p>
  </div>
  <div class="img-preview">
    <img src="{% static 'img/hero_photos.svg' %}" class="luminosity-filter" />
  </div>
</div>
<div class="last-tournaments">
  <h1>АКТУАЛЬНЫЕ ТУРНИРЫ</h1>
  <div class="table">
    <div class="table-head">
      <div class="table-head-string">
        <div>Дисциплина</div>
        <div>Турнир</div>
        <div>Дата регистрации</div>
        <div>Дата начала</div>
        <div>Взнос</div>
        <div></div>
      </div>
    </div>
    <div class="table-body">
      {% for tournament in tournaments|slice:":4" %}
      <div class="table-body-string">
        <div>
          <img
            src="{{MEDIA_URL}}{{tournament.game.icon.url}}"
            alt="game_icon"
          />
        </div>
        <div>{{tournament}}</div>
        <div>{{tournament.registration_start_date|date:"d.m.Y"}}</div>
        <div>{{tournament.start_date|date:"d.m.Y"}}</div>
        <div>{{tournament.price}}</div>
        <div>
          <a href="{% url 'tournament' tournament.pk %}">
            <button class="green-button">УЧАСТВОВАТЬ</button>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- <div class="img-lines">
  <img src="{% static 'img/lines_photos.svg' %}" class="luminosity-filter" />
</div> -->
<div class="block-show-more">
  <a href="{% url 'tournaments' %}"><button class="green-button">ПОКАЗАТЬ ЕЩЕ</button></a>
</div>
{% endblock %}
